* {
	font-family: 'Inconsolata', monospace;
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	min-width: 917px;
}

h1 {
	font-size: 3em;
	margin: 0px;
	padding: 40px 0px;
}

#logoContainer {
	text-align: center;
}

#logoContainer > img {
	width: 50%;
	height: auto;
	margin-top: 20px;
}

.sideMenu {
	width: 20%;
	min-width: 235px;
	height: 100%;
	background-color: #69385C;
	float: left;
	display: block;
	margin-left: 0%;
}

.sideMenuResponsive {
	height: 100%;
	background-color: #69385C;
	float: left;
	display: none;
}

.sideMenuHide {
	height: 100%;
	float: left;
	display: block;
}

.sideMenuHide > span {
	background-color: #68385C;
    color: white;
    padding: 5px;
    vertical-align: sub;
    cursor: pointer;
    margin-left: -1px;
}

.sideMenu > ul, .sideMenuResponsive > ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.sideMenu > ul > li, .sideMenuResponsive > ul > li {
	padding: 5px 20px;
	transition: all 0.2s;
}

.sideMenuResponsive > ul > li {
	margin: 20px 0px;
}

.sideMenu > ul > li:hover {
	background-color: #a65992;
	margin-left: 5px;
}

.sideMenu > ul > li > a, .sideMenuResponsive > ul > li > a {
	color: white;
	text-decoration: none;
	font-size: 1.1em;
}

.sideMenuResponsive > ul > li > a {
	font-size: 3em;
}

.sideMenu > ul > li > a > i {
	margin-right: 10px;
}


.sideMenu hr, .sideMenuResponsive hr {
	border: 0.5px solid #a65992;
	width: 85%;
}

.sideMenu > .user {
	width: 100%;
	font-size: 3em;
	margin: 0px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 10px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: uppercase;
}

.container {
	width: 65%;
	height: 100%;
	padding: 0px 20px;
	overflow: auto;
	margin: 0px auto;
}

.sideMenu > .copyright {
	font-size: 13px;
	text-align: center;
	color: #a65992;
}

.sideMenu > p {
	color: white;
	text-align: left;
	padding: 0px 20px;
}

.sideMenu > p > span {
	float: right;
}

input[type=text], input[type=password] {
	width: 85%;
	text-indent: 10px;
	padding: 7px 0px;
	font-size: 1.5em;
	outline: none;
	color: black;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #a65992;
	background-color: rgba(166, 89, 146, 0.1);
	margin-bottom: 40px;
}

input[type=text][disabled] {
	cursor: not-allowed;
}

.container a {
	text-decoration: none;
	border-bottom: 1px solid rgba(166, 89, 146, 0.5);
	padding: 2px 0px;
	color: black;
}

.container a:hover {
	border-bottom: 1px solid #a65992;
}

.customCheckBox > input[type=checkbox] {
	position: absolute;
    opacity: 0;
    cursor: pointer;
}

.customCheckBox > span.customCheck {
	position: absolute;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 2px solid #a65992;
    transition: all 0.2s;
}

.customCheckBox > p {
	margin: 5px;
    margin-left: 40px;
}

.customCheckBox:hover > span.customCheck {
	background-color: rgba(166, 89, 146, 0.1);
}

.customCheckBox > span.customCheck > i.fa {
	font-size: 1.5em;
	display: none;
	color: white;
}

.customCheckBox > input[type=checkbox]:checked + span.customCheck {
	background: #a65992;
}

.customCheckBox > input[type=checkbox]:checked + span.customCheck > i.fa {
	display: block;
}

label.customCheckBox {
	position: relative;
}

input[type=submit] {
	font-size: 1.5em;
    color: white;
    background: #a65992;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

.groupInput > * {
	display: inherit;
}

.groupInput > label {
	padding-bottom: 10px;
	font-size: 1.1em;
}

div.error, div.info {
	width: 90%;
	font-size: 1.1em;
	padding: 5px 10px;
	margin-top: 10px;
	box-shadow: 0px 0px 1px 1px lightgrey;
	border-radius: 2px;
	text-align: justify;
}

div.error {
	border-left: 5px solid #F44336;
}

div.info {
	border-left: 5px solid green;
}

#loadingImg {
	display: none;
	width: 50px;
	height: auto;
	margin: -17px 0px;
}

@media screen and (max-device-width: 414px) {
	.sideMenu {
		display: none;
	}

	.sideMenuResponsive {
		display: block;
	}

	.container {
		width: 85%;
	}

	.sideMenuHide {
		display: none;
	}

	input[type=text], input[type=password] {
		width: 100%;
		font-size: 3em;
	}

	h1 {
		font-size: 5em;
	}

	h2 {
		font-size: 2.5em;
	}

	p {
		font-size: 2em;
	}

	.customCheckBox > p {
    	margin-left: 60px;
	}

	.customCheckBox > span.customCheck {
		width: 40px;
		height: 40px;
	}

	.customCheckBox > span.customCheck > i.fa {
		font-size: 2.5em;
	}

	input[type=submit] {
		font-size: 2.5em;
	}

	.groupInput > label {
		font-size: 2em;
		padding-bottom: 15px;
	}

	div.error {
		font-size: 2em;
		border-left: 10px solid #F44336;
		padding: 15px;
	}

	div.info {
		font-size: 2em;
		border-left: 10px solid green;
		padding: 15px;
	}

	ul#listaVideos > li {
		font-size: 1.7em;
	}
}